@import "../../styles/Variables.scss";

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: $cardsMain;
  border-radius: 6px;
  min-height: 700px;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.383);
  width: 100%;
  height: 30px;
  border: none;
  font-size: 15px;
}

select {
  background-color: rgba(255, 255, 255, 0.383);
  width: 100%;
  height: 30px;
  border: none;
  font-size: 15px;
}
