@mixin pages {
  body {
    background: $bodyBG;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .header {
      background-color: $cardsSec;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      border-radius: 10px;

      h3 {
        font-size: 30px;
      }
    }
  }
}
