@mixin buttons {
  .mainDiv {
    display: flex;
    justify-content: space-between;
  }

  button {
    border: none;
    border-radius: 6px;
    margin: 2px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
  }

  .red {
    background-color: $reds;
  }

  .green {
    background-color: $greens;
  }
}
