@import "../../styles/Variables.scss";

.card {
  height: 420px;
  display: flex;
  flex-direction: column;
  background-color: $cardsMain;
}

input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.img {
  width: 100%;
}

.text {
  padding: 10px;
}
