@import "../../styles/Variables.scss";
@import "../../styles/mixinPages.scss";
@import "../../styles/mixinButtons.scss";

@include buttons;
@include pages;

.content {
  display: flex;
}
.messages {
  background-color: $reds;
  margin: 20px;
  border-radius: 6px;
  width: 800px;
  padding: 10px;
  font-weight: 800;
  color: black;
}
.success {
  background-color: $greens;
  margin: 20px;
  border-radius: 6px;
  width: 800px;
  padding: 10px;
  font-weight: 800;
  color: black;
}
