@import "../../styles/Variables.scss";

.footer {
  background-color: $cardsSec;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
}
